@import "../../../../styles/colors";
@import "../../../../styles/typography";
@import "../../../../styles/corner-radius";

.primary-button {
  background-color: $primary-corporate;
  color: $white;
  border: none;
  text-align: center;
  font-size: $body-size-XS;
  padding: 12px 52px;
  border-radius: $radius-small;
  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  font-family: 'Poppins', sans-serif;
}

.primary-button:hover{
  background-color: $hover-corporate;
}

.primary-button:active{
  background-color: $click-corporate;
}

.medium-button {
  padding: 8px 28px;
}

.small-button {
  padding: 4px 12px;
}
