<main class="container">
  <p class="text">Registrar una categoría</p>
  <span>
    <primary-button
      text="Añadir" [showIcon]="true"
      icon="fa-solid fa-plus"
      (click)="openModal()"
    >
    </primary-button>
  </span>
</main>

<app-modal *ngIf="modalIsVisible" title="Registrar una categoría" (closeEvn)="closeModal()">
  <app-category-form
    (categoryCreated)="openSuccess()"
    (categoryNotCreated)="openError($event)"
  >
  </app-category-form>
</app-modal>

<app-modal *ngIf="successIsVisible" (closeEvn)="closeSuccess()">
  <app-modal-message
    (closeEvent)="closeSuccess()"
    label="Categoría registrada exitosamente"
  >
  </app-modal-message>
</app-modal>

<app-modal *ngIf="errorIsVisible" (closeEvn)="closeError()">
  <app-modal-message
    (closeEvent)="closeError()"
    [isSuccessful]="false"
    [label]="errorMessage"
  >
  </app-modal-message>
</app-modal>
