<main class="container">
  <section class="container__add-category">
    <p class="text">Registrar una marca</p>
    <span>
      <primary-button text="Añadir" [showIcon]="true" icon="fa-solid fa-plus" (click)="openModal()">
      </primary-button>
    </span>
  </section>
  <section class="container__table">
    <app-reactive-table 
      [data]="data" 
      [headers]="headers" 
      [pageSize]="getPagesArray()" 
      [totalPages]="totalPages"
      [currentPage]="currentPage" 
      (isAsc)="onOrderChange($event)" 
      (size)="onSizeChange($event)"
      (pageSelected)="onPageSelected($event)"
      >
    </app-reactive-table>
  </section>
  <div class="container__divider"></div>
</main>

<app-modal class="modal" [ngClass]="{'isVisible': modalIsVisible}" title="Registrar una marca"
  (closeEvn)="closeModal()">
  <app-brand-form (brandCreated)="openSuccess()" (brandNotCreated)="openError($event)">
  </app-brand-form>
</app-modal>

<app-modal *ngIf="successIsVisible" (closeEvn)="closeSuccess()">
  <app-modal-message (closeEvent)="closeSuccess()" label="Categoría registrada exitosamente">
  </app-modal-message>
</app-modal>

<app-modal *ngIf="errorIsVisible" (closeEvn)="closeError()">
  <app-modal-message (closeEvent)="closeError()" [isSuccessful]="false" [label]="errorMessage">
  </app-modal-message>
</app-modal>