@import "../../../../../styles/colors";
@import "../../../../../styles/typography";
@import "../../../../../styles/corner-radius";

.secondary-button {
  background-color: $white;
  color: $primary-corporate;
  border: 1px solid $primary-corporate;
  text-align: center;
  font-size: $body-size-S;
  padding: 12px 52px;
  border-radius: $radius-small;
  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  font-family: 'Poppins', sans-serif;
}

.secondary-button:hover{
  border-color: $hover-corporate;
  color: $hover-corporate;
}

.secondary-button:active{
  border-color: $click-corporate;
  color: $click-corporate;
}

@media (width <= 320px) {
  .secondary-button {
    padding: 4px 12px;
    font-size: $body-size-XS;
  }
}

@media (width > 320px) and (width <= 768px) {
  .secondary-button {
    padding: 8px 24px;
    font-size: $body-size-XS;
  }
}
