// Corporate colors
$primary-corporate: #9D3FE7;
$secondary-corporate:#602093;
$gradient-corporate: linear-gradient(159.13deg, $primary-corporate -24.13%, $primary-corporate 132.21%);
$hover-corporate: #AE60EB;
$click-corporate: #6A17AB;

// Grayscale
$black: #1A141F;
$hint_text: #4B3A5A;
$border: #ABA7AF;
$disable: #D4D2D5;
$spacer: #D9D1E0;
$spacer-light: #E5E0EB;
$bg-light-grey: #F5F3F7;
$white: #FFFFFF;

// informing
$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;
