// Main Font
$font-family-main: 'Poppins', sans-serif;

// Desktop headlines
$desktop-h1: 44px;
$desktop-height-h1: 128%;
$desktop-weight-h1: 500;

$desktop-h2: 30px;
$desktop-height-h2: 120%;
$desktop-weight-h2: 500;

$desktop-h3: 22px;
$desktop-height-h3: 124%;
$desktop-weight-h3: 600;

$desktop-h4: 18px;
$desktop-height-h4: 132%;
$desktop-weight-h4: 700;

// Tablet headlines
$tablet-h1: 32px;
$tablet-height-h1: 124%;
$tablet-weight-h1: 500;

$tablet-h2: 24px;
$tablet-height-h2: 128%;
$tablet-weight-h2: 500;

$tablet-h3: 22px;
$tablet-height-h3: 124%;
$tablet-weight-h3: 600;

$tablet-h4: 18px;
$tablet-height-h4: 132%;
$tablet-weight-h4: 700;

// Mobile headlines
$mobile-h1: 29px;
$mobile-height-h1: 124%;
$mobile-weight-h1: 600;

$mobile-h2: 22px;
$mobile-height-h2: 128%;
$mobile-weight-h2: 600;

$mobile-h3: 19px;
$mobile-height-h3: 128%;
$mobile-weight-h3: 700;

$mobile-h4: 16px;
$mobile-height-h4: 128%;
$mobile-weight-h4: 700;

// Main text
$body-size-L: 22px;
$body-height-L: 144%;
$body-weight-L: 400;

$body-size-M: 18px;
$body-height-M: 132%;
$body-weight-M: 300;
$body-weight-M-regular: 400;

$body-size-S: 16px;
$body-height-S: 148%;
$body-weight-S: 300;
$body-weight-S-regular: 400;

$body-size-XS: 14px;
$body-height-XS: 140%;
$body-weight-XS: 400;
