@import "../../../../../styles/colors";
@import "../../../../../styles/typography";
@import "../../../../../styles/corner-radius";

.primary-button {
  background-color: $primary-corporate;
  color: $white;
  border: none;
  text-align: center;
  font-size: $desktop-h2;
  padding: 12px 52px;
  border-radius: $radius-small;
  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  font-family: 'Poppins', sans-serif;
}

.primary-button:hover{
  background-color: $hover-corporate;
}

.primary-button:active{
  background-color: $click-corporate;
}

@media (width <= 767px) {
  .primary-button {
    padding: 4px 12px;
    font-size: $mobile-h3;
  }
}

@media (768px <= width < 1920px) {
  .primary-button {
    padding: 8px 24px;
    font-size: $tablet-h3;
  }
}
