<div class="input-container">
  <label
    [for]="controlName"
    *ngIf="text"
    class="input-label"
  >
    {{text}}
  </label>
  <div class="input-wrapper">
    <input
      [id]="controlName"
      [type]="type === 'password' && !showPassword ? 'password' : 'text'"
      class="primary-input"
      [placeholder]="placeholder"
      [formControl]="control"
      [minlength]="1"
      (blur)="onTouched()"
      autocomplete="off"
    />
    <button
      *ngIf="type === 'password'"
      class="toggle-password"
      (click)="toggleVisibility()"
      type="button"
    >
      <span *ngIf="showPassword"><i class="fa-regular fa-eye"></i></span>
      <span *ngIf="!showPassword"><i class="fa-regular fa-eye-slash"></i></span>
    </button>
  </div>
  <div *ngIf="control.invalid" class="text-danger">
    <span>{{getErrorMessage()}}</span>
  </div>
</div>
