<section class="section">
  <div class="section__controls">
    <div class="section__controls__order">
      <label class="section__controls__order__label-asc" for="isAsc">Ordenar por:</label>
      <select id="isAsc" class="section__controls__order__select" [(ngModel)]="orderAsc" (change)="setOrder($event)">
        <option [value]="true">Ascendente</option>
        <option [value]="false">Descendente</option>
      </select>
    </div>
    <div class="section__controls__size">
      <label class="section__controls__size__label-size">Tamaño:</label>
      <select id="isAsc" class="section__controls__size__select" [(ngModel)]="selectedSize" (change)="setSize($event)">
        <option [value]="3">3</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
      </select>
    </div>
  </div>
  <table class="section__table">
    <thead class="section__table__header">
      <tr>
        <th *ngFor="let header of headers">{{header}}</th>
      </tr>
    </thead>
    <tbody class="section__table__body">
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
      </tr>
    </tbody>
  </table>
  <div class="section__pages">
    <span *ngFor="let pages of pageSize; let i = index" 
      class="section__pages__number"
      (click)="goToPage(i)"
      [ngClass]="{'section__pages__active': currentPage === i}"
      tabindex="0"
      role="button">
      {{pages}}
    </span>
  </div>
</section>